<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.circle.mapper.CircleMapper">

    <select id="getCircleCount" resultType="Long">
        SELECT COUNT(id) FROM circle WHERE `type` = #{type}
        <if  test="keyword != '' and keyword != null">
            and content LIKE label LIKE CONCAT('%',TRIM(#{keyword}),'%')
        </if>
    </select>

    <select id="getCircleArticleList" resultType="CircleEntity">
        SELECT c.*,u.username FROM circle c LEFT JOIN user u on c.user_id = u.user_id where c.type = #{type} ORDER BY c.create_time DESC limit #{start}, #{pageSize}
    </select>

    <select id="getCircleArticleCount" resultType="Map">
        SELECT CAST(c.commentCount as char) AS commentCount,CAST(f.favoriteCount AS char) AS favoriteCount,CAST(v.viewCount AS char) AS viewCount
        FROM(
            (SELECT count(*) as commentCount FROM comment WHERE type = "circle" and relation_id = #{id}) c,
            (SELECT count(*) as favoriteCount FROM circle_favorite WHERE circle_id = #{id}) f,
            (SELECT count(distinct user_id) as viewCount FROM circle_record WHERE circle_id = #{id}) v
        )
    </select>

    <insert id="insertLog">
        INSERT INTO circle_record(circle_id,user_id,create_time,update_time) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.circleId},#{item.userId},now(),now())
        </foreach>
    </insert>

    <select id="getHotCommentMovie" resultType="HotCommentMovieEntity">
        SELECT * FROM (SELECT * FROM movie_recommend WHERE classify = '电影周榜单' ORDER BY `rank` asc limit 0,8) t1 UNION ALL
        SELECT * FROM (SELECT * FROM movie_recommend WHERE classify = '电视剧周榜单' ORDER BY `rank` asc  limit 0,8) t2 UNION ALL
        SELECT * FROM (SELECT * FROM movie_recommend WHERE classify = '综艺周榜单'  ORDER BY `rank` asc limit 0,4) t3 UNION ALL
        SELECT * FROM (SELECT * FROM movie_recommend WHERE classify = '动漫周榜单'  ORDER BY `rank` asc limit 0,4) t4
    </select>

    <select id="getLastModifyMovie" resultType="HotCommentMovieEntity">
        SELECT * FROM (SELECT * FROM movie_recommend WHERE classify = '最新电影' ORDER BY `rank` asc limit 0,20) t1 UNION ALL
        SELECT * FROM (SELECT * FROM movie_recommend WHERE classify = '最新电视剧' ORDER BY `rank` asc  limit 0,20) t2 UNION ALL
        SELECT * FROM (SELECT * FROM movie_recommend WHERE classify = '最近综艺'  ORDER BY `rank` asc limit 0,20) t3 UNION ALL
        SELECT * FROM (SELECT * FROM movie_recommend WHERE classify = '最新动漫'  ORDER BY `rank` asc limit 0,20) t4
    </select>
</mapper>

