<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.circle.mapper.CircleMapper">

    <select id="getCircleArticleList" resultType="CircleEntity">
        SELECT c.*,u.username FROM circle c LEFT JOIN user u on c.user_id = u.user_id ORDER BY c.create_time DESC limit #{start}, #{pageSize}
    </select>
</mapper>

