<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.player.movie.mapper.MovieMapper">

    <sql id="recordSql">
        (
            movie_id,
            director,
            star,
            `type`,
            country_language,
            viewing_state,
            release_time,
            plot,
            update_time,
            movie_name,
            is_recommend,
            img,classify,
            source_name,
            source_url,
            create_time,
            local_img,
            label,
            original_href,
            description,
            target_href,
            use_status,
            score,
            category,
            ranks,
            user_id,
            douban_url
            )VALUES(
            #{movieId},
             #{director},
            #{star},
            #{type},
            #{countryLanguage},
            #{viewingState},
            #{releaseTime},
            #{plot},
            #{updateTime},
            #{movieName},
            #{isRecommend},
            #{img},
            #{classify},
            #{sourceName},
            #{sourceUrl},
            #{createTime},
            #{localImg},
            #{label},
            #{originalHref},
            #{description},
            #{targetHref},
            #{useStatus},
            #{score},
            #{category},
            #{ranks},
            #{userId},
            #{doubanUrl})
    </sql>

    <sql id="search">
        WHERE movie_name like CONCAT('%',#{keyword},'%') OR star like CONCAT('%',#{keyword},'%') OR director like CONCAT('%',#{keyword},'%') OR director like CONCAT('%',#{keyword},'%')  OR type like CONCAT('%',#{keyword},'%') ORDER BY update_time DESC
    </sql>

    <select id="findClassify"  resultType="Map">
        SELECT classify FROM movie GROUP BY classify
    </select>

    <select id="getKeyWord"  resultType="Map">
        SELECT movie_name AS movieName,classify FROM movie_network WHERE is_recommend = '1' AND classify = #{classify} LIMIT 1
    </select>

    <select id="getUserData"  resultType="com.player.common.entity.UserEntity">
        SELECT user_id,create_date,update_date,username,telephone,email,avater,birthday,sex,role from  user WHERE role ='public'  order by rand() LIMIT 1
    </select>

    <select id="getMyUserData"  resultType="com.player.common.entity.UserEntity">
        SELECT user_id,create_date,update_date,username,telephone,email,avater,birthday,sex,role,sign,region from  user WHERE user_id = #{userId}
    </select>

    <select id="getUserMsg"  resultType="Map">
        SELECT CAST(u.userAge as char) AS userAge,CAST(r.viewRecordCount AS char) AS viewRecordCount,CAST(p.playRecordCount AS char) AS playRecordCount,CAST(f.favoriteCount AS char) AS favoriteCount FROM (
            (SELECT TIMESTAMPDIFF(DAY,a.create_date,now()) as userAge from user a where user_id= #{userId}) u,
            (SELECT count(*) as viewRecordCount FROM movie_view_record WHERE user_id = #{userId} )r,
            (SELECT count(*) as playRecordCount FROM movie_play_record WHERE user_id = #{userId}) p,
            (SELECT count(*) as favoriteCount FROM movie_favorite WHERE user_id = #{userId} ) f)
    </select>

    <select id="getAllCategoryByClassify" resultType="Map">
        SELECT category,classify FROM movie_category WHERE category != '轮播' AND classify = #{classify} ORDER BY update_time ASC
    </select>

    <select id="getAllCategoryListByPageName" resultType="Map">
        SELECT category,classify FROM movie_category WHERE page_name = #{pageName} AND category != '轮播' AND status = '1' order by update_time asc
    </select>

    <select id="getCategoryList" resultType="MovieEntity">
        SELECT * FROM movie_network WHERE category = #{category} AND classify = #{classify}
    </select>

    <select id="search" resultType="MovieEntity">
        SELECT * FROM movie
        <include refid="search"></include>
         limit #{start}, #{pageSize}
    </select>

    <select id="total" resultType="Map">
        SELECT count(*) as total FROM movie
        <include refid="search"></include>
    </select>

    <select id="login" resultType="com.player.common.entity.UserEntity">
       SELECT user_id AS userId,create_date AS createDate,update_date AS updateDate,username,telephone,email,avater,birthday,sex,role from  user WHERE user_id=#{userId} and password=#{password}
    </select>

    <insert id="register" parameterType="com.player.common.entity.UserEntity">
       INSERT INTO user(user_id,password,create_date,update_date,username,telephone,email,avater,birthday,sex,sign,region) SELECT #{userId},#{password},#{createDate},#{updateDate},#{username},#{telephone},#{email},#{avater},#{birthday},#{sex},#{sign},#{region} FROM dual WHERE NOT EXISTS (SELECT user_id FROM user WHERE user_id = #{userId})
    </insert>

    <select id="getUserById" resultType="com.player.common.entity.UserEntity">
       SELECT user_id ,create_date ,update_date,username,telephone,email,avater,birthday,sex,role,sign,region from  user WHERE user_id = #{userId}
    </select>

    <insert id="log" parameterType="com.player.common.entity.LogEntity">
       INSERT INTO log(method,url,headers,ip,params,query_string,result,start_time,run_time,description,end_time,type,oparation,user_id)VALUES(#{method},#{url},#{headers},#{ip},#{params},#{queryString},#{result},#{startTime},#{runTime},#{description},#{endTime},#{type},#{oparation},#{userId})
    </insert>

    <select id="getStar" resultType="MovieStarEntity">
       SELECT * FROM movie_stars WHERE movie_id = #{movieId}
    </select>

    <select id="getMovieUrl" resultType="MovieUrlEntity">
       SELECT * FROM movie_url WHERE movie_id = #{movie_id}
    </select>

    <select id="getViewRecord" resultType="MovieEntity">
       SELECT * FROM  (select * from movie_view_record WHERE user_id = #{userId} ORDER BY create_time DESC LIMIT 0 ,20) t GROUP BY t.movie_name ORDER BY create_time DESC
    </select>

    <insert id="saveViewRecord" parameterType="MovieEntity">
       INSERT INTO movie_view_record
       <include refid="recordSql"></include>
    </insert>

    <select id="getPlayRecord" resultType="MovieEntity">
        SELECT * FROM  (select * from movie_play_record WHERE user_id = #{userId} ORDER BY create_time DESC LIMIT 0 ,20) t GROUP BY t.movie_name ORDER BY create_time DESC
    </select>

    <insert id="savePlayRecord" parameterType="MovieEntity">
        INSERT INTO movie_play_record
        <include refid="recordSql"></include>
    </insert>

    <select id="getFavoriteList" resultType="MovieEntity">
        SELECT * FROM movie_favorite WHERE user_id = #{userId}
    </select>

    <insert id="saveFavorite" parameterType="MovieEntity">
        INSERT INTO movie_favorite
        <include refid="recordSql"></include>
    </insert>

    <delete id="deleteFavorite">
        DELETE FROM movie_favorite WHERE user_id =#{userId} AND movie_id=#{movieId}
    </delete>

    <select id="isFavorite" resultType="Long">
        SELECT COUNT(*) as total FROM movie_favorite WHERE user_id=#{userId} AND movie_id = #{movieId}
    </select>

    <select id="getYourLikes" resultType="MovieEntity">
        SELECT * FROM movie WHERE
        <foreach collection="labels" item="item" index="index" open="(" separator="or" close=")">
            label LIKE CONCAT('%',#{item},'%')
        </foreach>
        ORDER BY create_time DESC LIMIT 0,10
    </select>

    <select id="getRecommend" resultType="MovieEntity">
        SELECT * FROM movie WHERE classify = #{classify} ORDER BY create_time DESC LIMIT 0,20
    </select>

    <update id="updateUser" parameterType="com.player.common.entity.UserEntity">
        UPDATE user SET
            update_date = #{updateDate},
            username = #{username},
            telephone = #{telephone},
            email = #{email},
            avater = #{avater},
            birthday  = #{birthday},
            sex = #{sex},
            sign = #{sign},
            region = #{region}
        WHERE user_id = #{userId}
    </update>

    <update id="updatePassword">
        UPDATE user SET
            password = #{newPassword},
        WHERE user_id = #{userId} AND password = #{oldPassword}
    </update>
</mapper>

